[Unit]
Description=Scan Monitor
After=multi-user.target

[Service]
User=scan_monitor
Group=scan_monitor

WorkingDirectory=/opt/scan_monitor
ExecStart=/opt/scan_monitor/venv/bin/python scan_monitor.py

[Install]
WantedBy=multi-user.target